[Desktop Entry]
Type=Application
Version=1.0
Name=Install Debian
GenericName=System Installer
Exec=sudo /usr/bin/calamares
Comment=Calamares — Installer for Debian Live
Icon=install-debian
Terminal=false
Categories=Qt;
